<h1>View your messages</h1>
<p>Currently logged in as user: <%= current_user.fullname %></p>

<table>
<% @messages.each do |message| %>
  <tr>
    <td><%= message.content %></td>
  </tr>
<% end %>
</table>

<table>
<% @user.friends.each do |friend| %>
  <% friend.messages.each do |message| %>
    <tr>
      <td><%= message.content %></td><td>Written by your friend <%= message.user.fullname %></td>
    </tr>
  <% end %>
<% end %>
</table>

<%= link_to 'Back to home', root_url %>
