<h1>View your messages</h1>
<p>Currently logged in as user: <%= current_user.fullname %></p>


<table>
<% @messages.each do |message| %>
  <tr>
    <td><%= message.content %></td>
    <td>Written by <%= message.user.fullname %></td>
  </tr>
<% end %>
</table>


<%= will_paginate @messages %>

<%= link_to 'Back to home', root_url %>
