<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<p>
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.fullname %></strong>.
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  <%= link_to "View users", users_path %>
  <%= link_to "Personal page", user_path(current_user) %>
  <%= link_to "View your messages", user_messages_path(current_user) %>
  <%= link_to "Post message", new_user_message_path(current_user) %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path %>
  <%= link_to "Login", new_user_session_path %>
<% end %>
</p>
