<h1>Friendships index</h1>
<p>Currently logged in as user: <%= current_user.fullname %></p>

<table>
<% @users.each do |user| %>
  <% if user.fullname != current_user.fullname %>
    <tr>
      <td><%= user.fullname %></td>
        <% if current_user.friends.include?(user) %>
          <td>This is a friend</td>
          <td>
            <%= button_to("Defriend", [current_user, current_user.friendships.find_by(friend_id: user.id)], method: :delete ) %>
          </td>
        <% else %>
          <td>This is not a friend</td>
          <td>
            <%= button_to("Befriend", [current_user, current_user.friendships.build], params: { friend_id: user.id }, method: :post ) %>
          </td>
  
        <% end %>
    </tr>
  <% end %>
<% end %>
</table>

<%= link_to 'Back to home', root_url %>
